@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors*/
  --Dark-01: #181818;
  --ORANGE: #fd6e0a;
  --Dark-02: #474747;
  --Dark-03: #757575;
  --White-Color: #fff;
}

body {
  font-family: "Open Sans", serif;
  line-height: 1.5;
}

header {
  background: #fff8f3;
  background-image: url("/images/developer.png"), url("/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-position: 23px 38px, 767px 319px;
  /* border: 1px solid red; */
}

.header-title {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 51px;
  margin-left: 226px;
}

header span {
  color: var(--ORANGE);
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.primary-btn {
  margin-right: 230px;
  margin-top: 50px;
  width: 150px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--ORANGE);
  color: var(--White-Color, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.secondary-btn {
  width: 200px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fd6e0a;
  color: var(--White-Color, #fff);
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.tartiary-btn {
  width: 160px;
  height: 64px;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-first-btn {
  margin-right: 30px;
}

.hero-btn {
  display: flex;
}

nav {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-around;
  margin-bottom: 47px;
}

nav ul {
  /* border: 1px solid purple; */
  margin-top: 68px;
  margin-right: 51px;
  display: flex;
  align-items: center;
  gap: 51px;
  margin-left: 633px;
  list-style: none;
}

nav ul li {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* hero section */

.hero {
  display: flex;
  align-items: center;
  /* border: 1px solid purple; */
}

.hero-container {
  margin-left: 230px;
}

.hero-greetings {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero-title {
  color: var(--Dark-01, #181818);
  font-family: "Open Sans";
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.hero-description {
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 30px;
  min-width: 585px;
}

.hero-image {
  margin-right: 161px 38px 0 978px;
}

main {
  max-width: 1140px;
  margin: auto;
}

.about-me-container {
  margin-top: 130px;
  padding: 131px 157px;
  border-radius: 10px;
  background: #fff8f3;
}

.about-me-title {
  color: var(--Dark-01, #181818);
  text-align: center;
  font-family: "Open Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.about-me-description {
  color: var(--Dark-03, #757575);
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  align-self: stretch;
  margin-bottom: 30px;
}

.about-item {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  margin-bottom: 0;
}

.about-item h3 {
  color: var(--Dark-03, #757575);
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.about-item p {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

/* skills section */
.skills {
  max-width: 1140px;
  margin: auto;
}

.skills-title {
  margin-top: 130px;
  margin-bottom: 30px;
  color: var(--Dark-01, #181818);
  text-align: center;
  font-family: "Open Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.skills-description {
  color: var(--Dark-03, #757575);
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  max-width: 909px;
  margin: auto;
}

.skills-item-container {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid purple; */
  gap: 24px;
}

.skills-item {
  /* border: 3px solid red; */
  margin-top: 50px;
  padding: 33px;
  width: 267px;
  max-height: 377px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 0;
}

.skills-item h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* skills */
.resume {
  margin: auto;
}

.section-part {
  display: flex;
  gap: 71px;
}

.resume h1 {
  margin-top: 130px;
  margin-bottom: 113px;
  color: var(--Dark-01, #181818);
  text-align: center;
  font-family: "Open Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-part h2 {
  margin-bottom: 30px;
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-part h3 {
  margin-bottom: 10px;
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-part h4 {
  margin-bottom: 20px;
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section-part p {
  margin-bottom: 30px;
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  max-width: 511px;
}

.section-part hr {
  background: #d1d1d1;
  max-width: 558px;
  max-height: 1px;
  margin-bottom: 30px;
}

.b {
  /* display: block; */
  /* border: 2px solid green; */
  /* align-items: center; */
  display: flex;
  justify-content: center;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  gap: 117px;
  background: #FFF8F3;
}

.social {
  margin-top: 130px;
  margin-left: 230px;
  margin-bottom: 472px;
  width: 511px;
  display: flex;
  flex-direction: column;
}

.social h2 {
  color: var(--Dark-01, #181818);
  text-align: center;
  font-family: "Open Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
  margin-right: 230px;
}

.social p {
  max-width: 562px;
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 30px;
}

.social-icons a {
  text-decoration: none;
}

.social-icons {
  gap: 24px;
}

.contact {
  width: 511px;
  margin-top: 130px;
  margin-right: 230px;
  margin-bottom: 130px;
  /* border: 2px solid red; */
  max-height: auto;
}

.contact h2 {
  color: var(--Dark-01, #181818);
  margin-bottom: 28px;
  font-family: "Open Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.name {
  width: 461px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--White-Color, #fff);
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 24px;
  border: none;
  padding: 18px 349px 18px 30px;
}

.email {
  width: 461px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--White-Color, #fff);
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 24px;
  border: none;
  padding: 18px 349px 18px 30px;
}

.area {
  width: 461px;
  height: 180px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--White-Color, #fff);
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 24px;
  border: none;
  padding: 18px 300px 18px 30px;
}

.contact button {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}