@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors*/
  --Dark-01: #181818;
  --ORANGE: #fd6e0a;
  --Dark-02: #474747;
  --Dark-03: #757575;
  --White-Color: #fff;
}

body {
  font-family: "Open Sans", serif;
  line-height: 1.5;
}

header {
  background: #fff8f3;
  background-image: url("/images/developer.png"), url("/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-position: 23px 38px, 767px 319px;
  /* border: 1px solid red; */
}

.header-title {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 51px;
  margin-left: 226px;
}

header span {
  color: var(--ORANGE);
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.primary-btn {
  margin-right: 230px;
  margin-top: 50px;
  width: 150px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--ORANGE);
  color: var(--White-Color, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.secondary-btn {
  width: 200px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fd6e0a;
  color: var(--White-Color, #fff);
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.tartiary-btn {
  width: 160px;
  height: 64px;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-first-btn {
  margin-right: 30px;
}

.hero-btn {
  display: flex;
}

nav {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-around;
  margin-bottom: 47px;
}

nav ul {
  /* border: 1px solid purple; */
  margin-top: 68px;
  margin-right: 51px;
  display: flex;
  align-items: center;
  gap: 51px;
  margin-left: 633px;
  list-style: none;
}

nav ul li {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* hero section */

.hero {
  display: flex;
  align-items: center;
  /* border: 1px solid purple; */
}

.hero-container {
  margin-left: 230px;
}

.hero-greetings {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero-title {
  color: var(--Dark-01, #181818);
  font-family: "Open Sans";
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.hero-description {
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 30px;
  min-width: 585px;
}

.hero-image {
  margin-right: 161px 38px 0 978px;
}
